<configuration>
	<appender name="out"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{10} - %msg%n
			</pattern>
		</encoder>
	</appender>
	
	<appender name="outjson" class="ch.qos.logback.core.ConsoleAppender">
       <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>
    
    <appender name="filejson"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/store/demo-micrometer-elasticsearch-grafana/logs/app.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>/store/demo-micrometer-elasticsearch-grafana/logs/app.%d{yyyy-MM-dd}.gz</fileNamePattern>

			<!-- keep 30 days' worth of history capped at 3GB total size -->
			<maxHistory>10</maxHistory>
		</rollingPolicy>
		<encoder class="net.logstash.logback.encoder.LogstashEncoder" />		
	</appender>
	

    <root level="info">
        <appender-ref ref="outjson" />
        <appender-ref ref="filejson" />
    </root>

 </configuration>
